<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container standard-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><%= link_to "New Post", :controller => 'blogposts', :action => 'new' %></li>
          <li><%= link_to "Admin", :controller => 'blogposts', :action => 'admin' %></li>
      </ul>
    </div>
  </div>
</nav>