<div class="page-header">
    <h1>Robin Smith Software Blog</h1>
</div>


<% @blogposts.each_with_index do |blogpost, i| %>
    <div class="col-md-6">
        <div class="page-header">
            <h2><%= blogpost.title %>
                <br>
                <small><%= blogpost.created_at.strftime("%Y-%m-%d") %></small>
            </h2>
        </div>

        <p>
            <%= "#{blogpost.preview} ..." %>
            <%= link_to 'Show', blogpost_path(blogpost) %></td>
        </p>
    </div>
<% end %>