.page-header
    %h1 Robin Smith Software Blog

%h2
    ="#{@blogpost.title} - "
    %small=@blogpost.created_at.strftime("%Y-%m-%d")


= markdoon @blogpost.body

- if current_user && current_user.admin?
    = link_to 'Edit', edit_blogpost_path(@blogpost)