<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance</title>

    <style type='text/css'>

        body {
            background-color: darkred;
        }

        .box-row {
            width: 800px;
            margin: auto;
            text-align: center;
            display: inline-block;
            text-align: left
        }

        .box {
            width: 100px;
            height: 100px;
            text-align: center;
            display: inline-block;
            background-color: black;
            transition: all .8s ease-out;
            overflow: inherit;
        }

        .box:hover {
            width: 0px;
            height: 0px;
        }

        /* This will contain images within box's borders when box shrinks. */
        .contain {
            overflow: hidden;
        }

        /* Default is that images will "spill" outside of box's borders. */
        .spill {
            overflow: inherit;
        }

        /* Use 'media queries' to adjust CSS for specific display conditions (try manually resizing browser) */
        @media (max-width: 800px) {
            .box-row {
                width: 800px;
            }

            body {
                background-color: yellow;
            }
        }
        @media (max-width: 700px) {
            .box-row {
                width: 700px;
            }

            body {
                background-color: blue;
            }
        }
        @media (max-width: 600px) {
            .box-row {
                width: 600px;
            }
        }
        @media (max-width: 700px) {
            .box-row {
                width: 700px;
            }
        }

    </style>


</head>
<body>

<div class="center-global contain">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global spill">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global contain">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global spill">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global contain">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global spill">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global contain">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>
<div class="center-global spill">
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
    <div class="box"><img src="/assets/images/eye.png"/></div>
</div>

</body>
</html>
