<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance</title>

    <style type='text/css'>

        .main {
            margin-top: -17px;
            width: 800px;
        }

        body {
            background-color: darkred;
            background-image: linear-gradient(to bottom, rgba(139, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to right, rgba(139, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        }

        .box-row {
            line-height: 0px;
            width: 1000px;
            text-align: center;
        }

        .box {
            width: 100px;
            height: 100px;
            text-align: center;
            display: inline-block;
            background-color: transparent;
            overflow: inherit;
            margin: -2px -2px -3px -2px;
        }

        .box:hover {
            transition: all 1s ease-out;
            border-radius: 100px;
            box-shadow: 10px 10px 10px 10px;
            /*width: 150px;*/
            /*height: 150px;*/
        }

        /* This will contain images within box's borders when box shrinks. */
        .contain {
            overflow: hidden;
        }

        /* Default is that images will "spill" outside of box's borders. */
        .spill {
            overflow: inherit;
        }

        img:hover {
            transition: all 1s ease-out;
            transform: rotate(720deg);
        }

        /* Use 'media queries' to adjust CSS for specific display conditions (try manually resizing browser) */
        /*@media (max-width: 1000px) {*/
        /*body {*/
        /*background-color: darkred;*/
        /*}*/
        /*}*/
        /*@media (max-width: 100px) {*/
        /*body {*/
        /*background-color: orange;*/
        /*}*/
        /*}*/
        /**/

        /*@media (max-width: 400px) {*/
        /*body {*/
        /*background-color: yellow;*/
        /*}*/
        /*}*/
        /*@media (max-width: 200px) {*/
        /*body {*/
        /*background-color: green;*/
        /*}*/
        /*}*/

    </style>


</head>
<body>

<div class="main">
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
    <div class="box contain"><img src="/assets/images/eye.png"/></div>
</div>

</body>
</html>
