!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title gradient
    :css
      h3 {
          margin-bottom: 10px;
      }

      .main {
          margin-left: auto;
          margin-right: auto;
          padding-top: 50px;
          min-width: 100px;
          max-width: 1000px;
      }

      .box-row {
          height: 100px;
          margin-bottom: 3%;
          /*background-color: yellow;*/
      }

      .main > * {
          text-align: center;
      }

      .box {
          width: 100px;
          height: 100px;
          display: inline-block;
          background-color: black;
          border: 2px solid black;
          box-shadow: 1px 1px 1px;
          border-radius: 5px;
      }

      /*Simple gradient between two colors: */
      .gradient {
          background-image: linear-gradient(red, orange);
      }

      /*Other directions for gradient: */
      .gradient-top {
          background-image: linear-gradient(to top, orange, yellow);
      }

      .gradient-right {
          background-image: linear-gradient(to right, yellow, green);
      }

      .gradient-diag {
          background-image: linear-gradient(45deg, green, blue);
      }

      .gradient-circle {
          background-image: radial-gradient(circle at 0% 0%, blue, cyan);

          /* This is also equivalent by specifying radius (equal to length of diagonal in this box: */
          /*background-image: radial-gradient(circle 141px at 0% 0%, blue, cyan);*/

          /* This is also equivalent! */
          /*background-image: radial-gradient(circle farthest-corner at 0% 0%, blue, cyan);*/
      }

      .gradient-ellipse {
          background-image: radial-gradient(ellipse at 100% 0%, cyan, violet);
      }

      /*Gradient between multiple colors: */
      .rainbow {
          background-image: linear-gradient(red, orange, yellow, green, blue, cyan, violet);
      }

      /*Color stops can be defined like this: */
      .rainbow-stopped {
          background-image: linear-gradient(red 10%, green 70%, blue 84%, yellow 90%);
      }

      /*Gradient can be set at an angle: */
      .rainbow-diag {
          background-image: linear-gradient(red, orange, yellow, green, blue, cyan, violet);
      }

      /* Multiple gradients: */
      .multiple-grad {
          background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(255,255,255,0.5)), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255,0,0,0.5));
      }

      /* Multiple gradients with background-color: */
      .multiple-grad-bg {
          background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(255,255,255,0.5)), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255,0,0,0.5));
          background-color: orangered;
      }
  %body
    .main
      %h3 Default Gradient
      .box-row
        .box.gradient
      %h3 Top-Gradient
      .box-row
        .box.gradient-top
      %h3 Right-Gradient
      .box-row
        .box.gradient-right
      %h3 Diagonal Gradient
      .box-row
        .box.gradient-diag
      %h3 Radial Gradient (Circle)
      .box-row
        .box.gradient-circle
      %h3 Radial Gradient (Ellipse)
      .box-row
        .box.gradient-ellipse
      %h3 Rainbow Gradient
      .box-row
        .box.rainbow
      %h3 Stopped Gradient
      .box-row
        .box.rainbow-stopped
      %h3 Multiple Gradients
      .box-row
        .box.multiple-grad
      %h3 Multiple Gradients + Background Color
      .box-row
        .box.multiple-grad-bg
