.page-header
  %h1 CSS
.page-header
  %h3= link_to "Gradients", '/css/gradient'
  / <h3><haml_loud> link_to &quot;Face&quot;, &#39;/css/face&#39; </haml_loud></h3>
  / <h3><haml_loud> link_to &quot;Eyes&quot;, &#39;/css/eyes&#39; </haml_loud></h3>
