<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Face</title>

<style type='text/css'>

    .eye {
        width: 100px;
        height: 100px;
        background-image: url('/images/eye.jpg');
        background: black;
    }

    .eye span {
        top: 90px;
    }

    /*.eye:hover {*/
        /*border-radius: 110px;*/
        /*box-shadow: 40px 40px 10px 0px black;*/
    /*}*/

    .left-eye {
        transition: all 2s ease-out;
        color: red;
        background-image: url('../../assets/images/eye.jpg');
    }

</style>


</head>
<body>

<div class="eye left-eye"></div>

</body>
</html>
