<div class="face">
    <div class="eyes cf">
        <div class="eye left-eye"><a>X</a></div>
        <div class="eye right-eye"><a>X</a></div>
    </div>
    <div class="nose"><a>OO</a></div>
    <div class="mouth">
        <div class="tooth edge-tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth edge-tooth"></div>
    </div>
</div>