<div class="face">
    <div class="eyebrows cf">
        <div class="eyebrow left left-eyebrow"><span>!Redrum</span></div>
        <div class="eyebrow right right-eyebrow"><span>!Redrum</span></div>
    </div>
    <div class="eyes cf">
        <div class="eye left left-eye"><span>X</span></div>
        <div class="eye right right-eye"><span>X</span></div>
    </div>
    <div class="nose"><span>OO</span></div>
    <div class="mouth">
        <div class="tooth edge-tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth edge-tooth"></div>
    </div>
</div>