.page-header
    %h1.center.cv-font.cv-name Robin Smith



.cv
    .cv-title.invert.center
        %p Cloud Developer


    .cv-values
        %h2.center.cv-font.cv-values-row
            I am highly
            %span.cv-values-em creative

        %h2.center.cv-font.cv-values-row
            I share
            %span.cv-values-em knowledge
            and
            %span.cv-values-em learn

        %h2.center.cv-font.cv-values-row
            I am
            %span.cv-values-em easy to work with


    .details
        .details-line-label Date of birth:
        .details-line-value 24/06/1987

        %br

        .details-line-label Tel:
        .details-line-value 07445 483 904

        %br

        .details-line-label Email:
        .details-line-value robin@mrrobinsmith.com


        %br

        .details-line-label Website:
        .details-line-value http://mrrobinsmith.com


        %br

        .details-line-label Address:
        .details-line-value 12 Macaulay Drive, Balderton, Nottinghamshire, NG24 3QQ


    .experience
        .row
            .col-xs-2
                .cv-section-name Experience
            .col-xs-10
                .experience-block
                    .experience-heading
                        Software Developer - Cloudreach Ltd. (October 2011 – June 2013)
                    .experience-content
                        I joined Cloudreach as the first developer in their new Edinburgh office. I immediately became
                        and remain a core developer on Cloudreach's first sellable product: Alumina Connect - a
                        substantial application which runs on the Salesforce Force.com platform and synchronises data
                        with Google Apps. I quickly got up to speed with the Force.com platform and was able to
                        apply my self-taught programming skills to immediately contribute to the project.
                        I wrote and maintained a tool using Bash and Ant to automate deployment of code from online
                        source code repositories to the Force.com platform. The tool was used by fellow developers
                        and later by members of other teams for deployments to customer production environments.
                        I took onboard a Python/Javascript web app project when the core developer left the company.
                        I was brought up to speed within just a few days and was able to implement the remaining
                        features and fix existing bugs, whilst still learning Python and Javascript.

        .row
            .col-xs-2
                .cv-section-name
            .col-xs-10
                .experience-block
                    .experience-heading
                        DevOps Engineer - Cloudreach Ltd (June 2013 – Present)

                    .experience-content
                        An opportunity arose to change role to DevOps engineer. I have gained practical knowledge of
                        the AWS platform, Splunk, Google Apps and many tools for diagnosing issues with Cloud
                        technologies. I have vastly improved my ability to communicate with customers.


        .row
            .col-xs-2
                .cv-section-name
            .col-xs-10
                .experience-block
                    .experience-heading

                .experience-content


    .tech-skills
        .row
            .col-xs-2
                .cv-section-name Tech Skills

            .col-xs-10
                .tech-skills-block
                    .row
                        .col-xs-6
                            .experience-heading Programming:
                            %ul
                                %li C - 2 years
                                %li Java - 2 years

                        .col-xs-6
                            .experience-heading Platforms:
                            %ul
                                %li Salesforce
                                %li Force.com Certified Developer


                .tech-skills-block
                    .row
                        .col-xs-6
                            .experience-heading Development Tools:
                            %ul
                                %li Git, Github, Bitbucket
                                %li IntelliJ IDEA

                        .col-xs-6
                            .experience-heading Methodologies:
                            %ul
                                %li Test-Driven Development
                                %li Continuous Integration


    .education
        .row
            .col-xs-2
                .cv-section-name Education

            .col-xs-2
                .experience-heading 2005-2009

            .col-xs-8
                .experience-heading MPhys Physics with Astrophysics, University of Sussex
                .experience-block Degree class 2:1


    .other-skills
        .row
            .col-xs-2
                .cv-section-name Other Skills & Qualities

            .col-xs-10
                .experience-block
                    .experience-heading Efficient time management & work ethic

                    .experience-content
                        I take a very energetic and positive approach to life and try to make the most of every day.
                        Handling the workload of my degree alongside paid employment and recreational activities
                        taught me effective planning, organisation and working to a self-disciplined schedule. I apply
                        this philosophy to every working day which starts with a kilometer of swimming.


    .employment-history
        .row
            .col-xs-2
                .cv-section-name Employment history

            .col-xs-3
                .experience-heading October 2011 - present

            .col-xs-7
                .experience-heading Cloudreach Ltd
                Software Developer, DevOps Engineer (see above).



        .row
            .col-xs-2
                .cv-section-name

            .col-xs-3
                .experience-heading January 2010 - October 2011

            .col-xs-7
                .experience-heading Sainsbury’s PLC
                Part-time work at a Sainsbury’s Local store to supplement my income whilst also doing voluntary work and learning programming.