.center.global-font{:id => "back-box"}
    .center.global-font{:id => "title-box"}
        %p This is a <span class="highlight">block-level</span> element.

    %p{:id => "back-box-text", :class => "center fixed"}
        The rectangle that appears behind the word <span class="highlight">inline</span> in this paragraph is an inline-level element.