/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

body, main {
    background-image: linear-gradient(to right, white, #d7d7d7), linear-gradient(to bottom, white, #d7d7d7);
    height: 100% !important;
}

.nav-main {
    font-size: 18px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(73, 73, 73, 0.50)), linear-gradient(to bottom, rgba(0,0,0,0.5), rgb(114, 114, 114));
}

a:visited {
    color: black;
}

.back-btn {
    font-size: 20px !important;
}

.navbar-brand {
    font-size: 25px !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.blog-input {
    width: 70% !important;
}

.user-input {
    width: 50% !important;
}

.blog-text {
    height: 300px;
}

//.col-md-2 {
//    background-color: red;
//}
//
//.col-md-4 {
//    background-color: red;
//}