/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 */

body, main {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(250, 250, 250, 0.50)), linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(250, 250, 250, 0.50));
//    background-color: white !important;
    height: 100% !important;
    padding-top: 20px;
}

.nav-main {
    font-size: 18px;
//    background: linear-gradient(to top, rgba(180, 180, 180, 0.50), rgb(178, 178, 178));
//    border-top: 1px solid white !important;
//    border-bottom: 2px solid white !important;
//    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(198, 198, 198, 0.50)), linear-gradient(to bottom, rgba(0,0,0,0.5), rgb(114, 114, 114));
}


//.nav-main a:hover {
//    color: white !important;
//}
//
//.nav-main a {
//    color: black !important;
//}

//.nav-main a:visited {
//    color: black;
//}

.back-btn {
    font-size: 20px !important;
}

.navbar-brand {
    font-size: 25px !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.blog-input {
    width: 70% !important;
}

.user-input {
    width: 50% !important;
}

.blog-text {
    height: 300px;
}

.login-btn {
    font-size: 18px !important;
}

.separator {
    margin-right: 100px !important;
    marin-left: 100px !important;
}

//.col-md-2 {
//    background-color: red;
//}
//
//.col-md-4 {
//    background-color: red;
//}


/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}