.face span {
  font-size: 20px;
  position: relative;
}

.face {
  padding-top: 20px;
  width: 800px;
  text-align: center;
}

.face {
  width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: 100px;
}

.eyebrows {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  transition: all .8s ease-out;
  display: inline-block;
  color: black;
  /*background-color: yellow;*/
}

.eyebrows:hover {
  width: 400px;
}

.eyebrow {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  color: black;
  background-color: #000000;
  margin-bottom: 15px;
  transition: all 1s ease-out;
}

.eyebrow:hover {
  color: darkred;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.eyebrow span {
  position: relative;
  top: 12px;
}

.left-eyebrow {
  left: 30px;
}

.left-eyebrow:hover {
  direction: rtl;
  unicode-bidi: bidi-override;
  /*transform: translate(100px, 0);*/
}

.right-eyebrow {
  direction: rtl;
  unicode-bidi: bidi-override;
  right: 30px;
}

.right-eyebrow:hover {
  direction: ltr;
  /*transform: translate(-100px, 0);*/
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}

.eyes {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.eye {
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
  background-color: black;
  color: lawngreen;
  transition: all 1s ease-out;
  box-shadow: 2px 10px 5px 2px black;
}

.eye span {
  top: 90px;
}

.eye:hover {
  border-radius: 110px;
  box-shadow: 10px 40px 5px 2px black;
}

.left-eye:hover {
  background-color: red;
  color: red;
}

.left-eye span:hover {
  text-decoration: none;
  color: yellow;
}

.right-eye:hover {
  width: 220px;
  height: 220px;
  background-color: magenta;
  color: magenta;
}

.right-eye span:hover {
  color: yellow;
}

.nose {
  position: relative;
  top: 0px;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  transition: all .4s ease-out;
  background-color: red;
  border-radius: 75px;
}

.nose span {
  top: 75px;
}

.nose:hover {
  transform: translate(0px, 20px);
  color: lawngreen;
  width: 230px;
  background-color: black;
}

.mouth {
  height: 150px;
  /*background-color: yellow;*/
  top: 0px;
  display: inline-block;
  position: relative;
  transition: all 0.4s ease-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding-top: 0px;
}

.mouth:hover {
  top: -30px;
}

.mouth > :first-child {
  transition: all .4s ease-out;
  top: 33.33%;
}

.mouth > :first-child:hover {
  transform: translate(0px, 100px);
}

.mouth > :last-child {
  transition: all .6s ease-out;
  top: 33.33%;
}

.mouth > :last-child:hover {
  transform: translate(0px, 100px);
}

.tooth {
  position: relative;
  top: 66%;
  display: inline-block;
  background-color: dimgrey;
  width: 50px;
  height: 50px;
  transition: all 1s ease-out;
}

.tooth:hover {
  transform: translate(0px, -70px);
  background-color: red;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1; /* for IE6 and IE7 */
}