<%# add navigation links to this file %>
<li><%= link_to "Blog", '/blogposts'%></li>
<li><%= link_to "Programming", '/programming'%></li>
<li><%= link_to "CV", '/cv'%></li>
<li><%= link_to "CSS Face", '/face'%></li>