%nav.navbar.navbar-inverse.nav-main.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Robin Smith Software', root_path, :class => 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Blog", '/blogposts'
        %li= link_to "Programming", '/programming'
        %li= link_to "CV", '/cv'
        / <li><haml_loud> link_to &quot;CSS Face&quot;, &#39;/face&#39; </haml_loud></li>
      / Something to do is to make right-nav-bar pull-left when navbar folds up!!
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li
            %a.btn.login-btn{:href => "/auth/logout"} Logout
        - else
          %li
            %a.btn.login-btn{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Login
